// Shareable class's for simple style values stored here - All set to important to override any similar css being applied.

.u-center-text { // Any inline-block or inline elements will be centered on the page.
  text-align: center !important;
}

// Margin groups to use to add white space between elements on page.
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium { 
  margin-bottom: 4rem !important; 

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big { 
  margin-bottom: 8rem !important; 

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

